<div class="header">
<h3 class="p-3 text-center">Project - Centrum Warsaw Airpost Logistics</h3>
<Br>
<h4>Norbert Walkowiak - Numer albumu: 114104</h4>
<h4>Michał Świst - numer albumu: 115588</h4>
<Br>
</div>
<div class="container">
<div id="airstrip">
  <p><b>Airstrip</b></p>
  <p> max capacity: 3 </p>
  <table>
    <thead>
        <th>Numer</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Types of cards</th>
        <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let karta of kartyAirstrip">
           <td>{{karta.Number}}</td>
           <td>{{karta.Name}}</td>
           <td>{{karta.Surname}}</td>
           <td>{{karta.CardType}}</td>
           <td><button class="button-11" (click)="Przejdz(karta, 4)">Door-4</button></td>
      </tr>
    </tbody>
</table>
</div>
<div id="sortownia">
  <p><b>Sort</b></p>
  <p> max capacity: 7 </p>
  <table>
    <thead>
        <th>Number</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Types of cards</th>
        <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let karta of kartySortownia">
           <td>{{karta.Number}}</td>
           <td>{{karta.Name}}</td>
           <td>{{karta.Surname}}</td>
           <td>{{karta.CardType}}</td>
           <td><button class="button-11" (click)="Przejdz(karta, 2)">Door-2</button></td>
           <td><button class="button-11" (click)="Przejdz(karta, 5)">Door-5</button></td>
           <td><button class="button-11" (click)="Przejdz(karta, 6)">Door-6</button></td>
      </tr>
    </tbody>
</table>
</div>
<div id="magazyn">
  <p><b>Warehouse</b></p>
  <p> max capacity: 3 </p>
  <table>
    <thead>
        <th>Number</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Types of cards</th>
        <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let karta of kartyMagazyn">
           <td>{{karta.Number}}</td>
           <td>{{karta.Name}}</td>
           <td>{{karta.Surname}}</td>
           <td>{{karta.CardType}}</td>
           <td><button class="button-11"(click)="Przejdz(karta, 7)">Door-7</button></td>
      </tr>
    </tbody>
</table>
</div>
<div id="zaladunekrozladunek">
  <p><b>Loading/Unloading</b></p>
  <p> max capacity: 5 </p>
  <table>
    <thead>
        <th>Number</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Types of cards</th>
        <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let karta of kartyZaladunekRozladunek">
           <td>{{karta.Number}}</td>
           <td>{{karta.Name}}</td>
           <td>{{karta.Surname}}</td>
           <td>{{karta.CardType}}</td>
           <td><button class="button-11" (click)="Przejdz(karta, 1)">Door-1</button></td>
           <td><button class="button-11" (click)="Przejdz(karta, 3)">Door-3</button></td>
      </tr>
    </tbody>
</table>
</div>
<div id="zewnetrzna">
  <p><b>Outside</b></p>
  <p> max capacity: unlimited </p>
    <table>
      <thead>
          <th>Number</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Types of cards</th>
          <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let karta of kartyZewnetrzna">
             <td>{{karta.Number}}</td>
             <td>{{karta.Name}}</td>
             <td>{{karta.Surname}}</td>
             <td>{{karta.CardType}}</td>
             <td><button class="button-11" (click)="Przejdz(karta, 0)">Door-0</button></td>
        </tr>
      </tbody>
  </table>
</div>
</div>