::ng-deep * {
    margin: 0;
    padding: 0;
  }
  
 .header{
    background-color: rgb(125, 132, 153);
    color:whitesmoke;
} 
.container{
    font-size: 14px;
    background-color: rgb(125, 132, 153);
}

#airstrip{
    background-color:  rgb(178, 213, 216);
    border-style: solid;
    width: 370px;
    height: 690px;
    float: left;
}

#sortownia{
    float: left;
    background-color: rgb(192, 211, 174);
    border-style: solid;
    width: 530px;
    height: 440px;
}

#magazyn{
    float: left;
    background-color: rgb(224, 155, 146);
    border-style: solid;
    width: 430px;
    height: 440px;
}

#zaladunekrozladunek{
    background-color: rgb(167, 160, 159);
    border-style: solid;
    width: 1079px;
    height: 250px;
    display: block;
    padding-top: 440px;
    padding-left: 262px;
}

#zewnetrzna{
    background-color: rgb(252, 232, 190);
    border-style: solid;
    width: 1342px;
    height: 400px;
    display: block;
} 

.button-11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  color: #3D3D3D;
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-11:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}